<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="droid" default="fetch" />
  <arg name="output" default="screen" />
  <arg name="use_rtabmap" default="true" />
  <arg name="use_move_base" default="true" />
  <arg name="use_xu" default="false"/>
  <arg name="use_rviz" default="true"/>

  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find fetch_navigation)/launch/include/move_base.launch.xml" />

  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <node if="$(arg use_rtabmap)" name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
    <param name="frame_id" type="string" value="base_link"/>

    <param name="subscribe_depth" type="bool" value="true"/>
    <param name="subscribe_scan" type="bool" value="true"/>

    <remap from="odom" to="odom"/>
    <remap from="scan" to="base_scan"/>

    <remap from="proj_map" to="map"/>
    <remap from="grid_map" to="grid_map"/>

    <remap from="rgb/image" to="/head_camera/rgb/image_raw"/>
    <remap from="depth/image" to="/head_camera/depth_registered/image_raw"/>
    <remap from="rgb/camera_info" to="/head_camera/rgb/camera_info"/>

    <!-- RTAB-Map's parameters -->
    <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
    <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
    <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
    <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
    <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>

    <param name="Optimizer/Slam2D"          type="string" value="true"/>
    <param name="Reg/Strategy"              type="string" value="1"/>--><!-- 1=ICP -->
    <param name="Reg/Force3DoF"             type="string" value="true"/>
    <param name="Vis/MinInliers"            type="string" value="5"/>
    <param name="Vis/InlierDistance"        type="string" value="0.1"/>
    <param name="Rtabmap/TimeThr"           type="string" value="700"/>
    <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>

    <param name="proj_max_height" type="double" value="4.0" />

  </node>

  <!-- move the robot -->
  <include if="$(arg use_move_base)" file="$(arg move_base_include)" >
    <arg name="name" value="$(arg droid)" />
  </include>

  <!-- tilt the head -->
  <node pkg="fetch_navigation" type="tilt_head.py" name="tilt_head_node" />

  <!-- RVIZ to view the visualization -->
  <node if="$(arg use_rviz)" name="RVIZ" pkg="rviz" type="rviz" args="-d $(find xu)/config/xu.rviz" />

  <node if="$(arg use_xu)" name="xu" pkg="xu" type="xu" output="$(arg output)" respawn="true">
    <param name="navigator" type="string" value="move_base"/>
    <param name="grid_resolution" type="double" value="1.0"/>
    <param name="origin_offset" type="double" value="0.8"/>
    <!--
    <param name="exploration_strategy" type="string" value="midway"/>
    <param name="exploration_strategy" type="string" value="farthest_first"/>
    -->
    <param name="exploration_strategy" type="string" value="nearest_first"/>
    <param name="midway_factor" type="double" value="1.0"/>
    <param name="send_goal" type="bool" value="true"/>
  </node>

</launch>
